.DS_Store
.devcontainer
.vscode
build*/
node_modules/
package-lock.json
out*/
*.wasm
*.weight
*.a
*.o
*.d
*.so
*.pb
*.onnx
*.tensor
*.jpg
cscope.in.out
cscope.out
cscope.po.out
tags
models/
*.ppm
*.numpy
*.pyc